#container {
    display: grid;
    justify-content: center;
    font-family: cursive;
    margin: 0;
    height: 1000px;
    place-items:center;
}
.nose{
    border: 1px solid black;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto;
    height:200px;
    position:absolute;
    background-color: aliceblue;
    

}
.nose h1:nth-child(1){
    background-color: darkorchid;

    
}
.title{
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    color: white;
    font-size:x-large;
}

.nose p:nth-child(2){
    font-size: larger;
    color: darkmagenta;


}

.nose p:nth-child(3){
    text-align: center;
    color: firebrick;

}

.boton1{
    height: 20px;
    width:80px;
    border-radius: 12px;
    color: ivory;
    background-color: black;
    cursor: pointer;
}
.img img:nth-child(1){
    height: 41.6%;
}